<!DOCTYPE html>
<html>
	<body>
	<%= form_for(@group) do |f| %>
	  
	  	<% @group.errors.full_messages.each do |error| %>
	    
		<%= error %>

	<% end %>
	  
	<article>
		<div class="editor_body">
		    <div>
		    	<%= f.text_field :name , class: 'title_box' , placeholder: 'group name' %>
		    </div>
		    <div>
		    	<%= f.text_area :description , class: 'title_box' , placeholder: 'description' %>
		    </div>
		    <%= f.submit %>
		</div>
	</article> 
	<% end %>
</body>
</html> 