<%= form_for(@group) do |f| %>
  
  	<% @group.errors.full_messages.each do |error| %>
    
	<%= error %>

<% end %>
  
	    <div>
	    	<%= f.text_field :name, placeholder: 'group name' %>
	    </div>
	    <div>
	    	<%= f.text_area :desc, placeholder: 'description' %>
	    </div>
	    <%= f.submit %>

<% end %>
