<% @feed_items.each_with_index do |link, i| %>
<tr>
	<td align="right">
		<%= i + 1 %>. 
		<%= link_to image_tag("grayarrow.jpg", :alt => "arrow", :width => 10, :height => 10), 
					links_vote_path(link, :yn => true) %>	
		<%= link_to image_tag("grayarrowdown.jpg", :alt => "arrow", :width => 10, :height => 10), 
					links_vote_path(link, :yn => false) %>	 
	</td>
	<td>
		<a href=<%= link.url %> class="link_title_tag link_title">
			<% page = MetaInspector.new(link.url) %>
			<%= page.title %>
		</a>
		<% 
	     	url = link.url
	        stripped = url.slice!("https://")
	        if stripped != "https://"
	           stripped = url.slice!("http://")
	        end
	        temp = url.split("/");
	        stripped = temp[0];

 		%>
 	(<%= stripped %>)
	</td>
</tr>
<tr>
	<td></td>
	<td class="link_subtitle_tag">
		<%= link.score %> points 
		<%=link_to link.user.handle, user_path(link.user), class: 'visited' %> |
		Tags:
		  <% link.tags.each do |tag| %>
		    <%= link_to tag.name, tag_path(tag), class: 'tag_link' %>
		  <% end %>
		  | <%= time_ago_in_words(link.created_at) %> ago.
	</td>
</tr>
<% end %>
<%= will_paginate @feed_items %>
