<!DOCTYPE html>
<html>
	<body>
		<div class="meta_bar">
			<div class="meta_bar_actionbox">
			  <%= link_to "Create", link_path("/new"), class: 'visited'%>
			  <%= link_to "Posts", posts_path, class: 'visited'%>
		  	</div>
		</div>
		<div class="feed_container">
			<div class="post_list">
				<div>
					<input class="invisi-search" type="text" placeholder="search">
				</div>
		  		<% @link.reverse_each do |link| %>
			  		<div class="preview_container">
			  			<div>
			      			<a href=<%= link.url %> class="link_title_tag link_title"><%= link.title %></a>
			      		</div>
		      			<div class="link_subtitle_tag">
		      				( <%= link.url %> )
		      			</div>
			      	</div>
		  		<% end %>
		  	</div>
	  	</div>
	 </body>
</html>