<!DOCTYPE html>
<html>
	<body>
	  	<div class="feed_container">
	  		<table>
	  			<tbody>
	  			<tr>
	  				<td>
		  				<table>
		  					<tr>
				  				<td><%= link_to "Submit", link_path("new"), class: 'visited'%></td>
				  				<td><%= link_to "Create", group_path("new"), class: 'visited'%></td>
				  				<td><a href="#" class="visited">Search</a></td>
				  				<td><%= link_to "Messages" , class: 'visited'%></td>
				  				<td><%= link_to "Settings", class: 'visited'%></td>
				  			</tr>
		  				</table>
	  				<td>
	  			</tr>
	  			<tr style="height:5px"></tr>
	  			<tr>
	  				<% @link.each do |link| %>
	  				<table>
	  					<tr>
		  					<td>
		  						score
		  					</td>
		  					<td>
		  						<a href=<%= link.url %> class="link_title_tag link_title"><%= link.title %></a>
		  					</td>
	  					</tr>
	  				</table>
	  			</tr>
	  			</tbody>
	  		</table>
	  	</div>
	 </body>
</html>