<!DOCTYPE html>
<html>
	<body>
	  	<div class="feed_container" style="background-color: #ecf0f1;">
	  		<table>
	  			<tbody>
	  			<tr>
	  				<table bgcolor="#3498db" style="width: 100%;">
	  					<tr>
			  				<td><span class="nav_links"><%= link_to "Submit", link_path("new"), class: 'nav_link' %></span>
			  				<span class="nav_links"><%= link_to "Create", group_path("new"), class: 'nav_link' %></span>
			  				<span class="nav_links"><a href="#" class="nav_link">Search</a></span>
			  				<span class="nav_links"><%= link_to "Messages", link_path("new"), class: 'nav_link' %></span>
			  				<span class="nav_links"><%= link_to "Settings", link_path("new"), class: 'nav_link' %></span></td>
			  			</tr>
	  				</table>
	  			</tr>
	  			<tr style="height:10px"></tr>
	  			<tr>
	  				<table>
	  					<% @link.each do |link, i| %>
	  					<tr>
		  					<td>
		  						<%= i %>. 
		  					</td>
		  					<td>
		  						<a href=<%= link.url %> class="link_title_tag link_title"><%= link.title %></a>
		  					</td>
	  					</tr>
	  					<% end %>
	  				</table>
	  			</tr>
	  			</tbody>
	  		</table>
	  	</div>
	 </body>
</html>