<%= form_for(@link) do |f| %>

	<% @link.errors.full_messages.each do |error| %>

<%= error %>

<% end %>
    <div>
    	<%= f.text_field :title , class: 'title_box' , placeholder: 'title' %>
    </div>
    <div>
    	<%= f.text_field :url, class: 'title_box', placeholder: 'url' %>
    </div>
    <%= f.submit %>

<% end %>
