<%= form_for(@link) do |f| %>

	<% @link.errors.full_messages.each do |error| %>

		<%= error %>

	<% end %>

    <div>
    	<%= f.text_field :title, placeholder: 'title' %>
    </div>
    <div>
    	<%= f.text_field :url, placeholder: 'url' %>
    </div>
    <%= f.submit %>

<% end %>
