<%= form_for(@post) do |f| %>
  
  	<% @post.errors.full_messages.each do |error| %>
    
	<%= error %>

	<% end %>
  
<article>
	<div class="editor_body">
	    <div>
	    	<%= f.text_field :title , class: 'title_box' , placeholder: 'Title' %>
	    </div>
	    <div>
	    	<%= f.text_field :subtitle , class: 'subtitle_box' , placeholder: 'Subtitle' %>
	    </div>
	    <div>
	    	<%= f.text_area :body, class: 'post_editor', placeholder: 'Empty your mind' %>
	    </div>
	    <%= f.submit %>
	</div>
</article>  


<% end %>