<!DOCTYPE html>
<html>
	<body>
		<div class="post_container">
			<p class="heading"> <%= @post.created_at %> 
				<!--the biggest hack of my career -->
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				<%= link_to "Edit", 
					edit_post_path(@post),
					class: 'visited pull-left' %>  
				<%= link_to "Trash", 
						post_path(@post), 
						class: 'visited pull-left', 
						method: :delete, 
						data: {confirm: "Are you really tossing this?"}  %></p>
			<h2> <%= @post.title %> </h2>
			<p class="intro" style="color: #7f8c8d; margin-top: 0px;"> <%= @post.subtitle %> </p>
			<div class="post_body">
				<p>
					<%= @post.body %>
				</p>
			</div>
		</div>
		<div class="meta_bar_footer">
			<%= link_to "<< Back to Posts", posts_path, class: 'visited' %>
		</div>
	</body>
</html>