<!DOCTYPE html>
<html>
<head>
  <title>Known</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	  	<div class="feed_container" style="background-color: #ecf0f1;">
	  		<table>
	  			<tbody>
	  			<tr>
	  				<table bgcolor="#3498db" style="width: 100%;">
	  					<tr>
			  				<td>
			  				<span class="nav_links"><%= link_to "Home", links_path, class: 'nav_link' %> |</span> 
			  				<span class="nav_links"><%= link_to "Submit", link_path("new"), class: 'nav_link' %> |</span> 
			  				<span class="nav_links"><%= link_to "People", users_path, class: 'nav_link' %> |</span> 	
							<span class="nav_links"><%= link_to "Discover", tags_path, class: 'nav_link' %> |</span>
							<span class="nav_links"><%= link_to "Channels", channels_path, class: 'nav_link' %></span> 
							<% if request.original_url == 'http://mighty-anchorage-6957.herokuapp.com/channels' %>
								<span class="nav_links">| <%= link_to "New Channel", channel_path("new"), class: 'nav_link' %></span>
							<% end %>
			  				<% if current_user %>
								<span class="nav_links" style="float: right;">
									<%= current_user.handle %> | 
							    	<%= link_to "Log out", log_out_path , class: 'nav_link'%>
							    </span>
							<% else %>
							    <span class="nav_links" style="float: right;">
							    	<%= link_to "Sign up", sign_up_path , class: 'nav_link'%> | 
							    	<%= link_to "Log in", log_in_path , class: 'nav_link'%>
							    </span>
							<% end %>
			  				</td>
			  			</tr>
	  				</table>
	  			</tr>
	  			<tr style="height:10px"></tr>
	  			<tr>
	  				<table>
	  					<tr><td><%= yield %></td></tr>
	  				</table>
	  			</tr>
	  			<tr style="height:20px;"></tr>
	  			</tbody>
	  		</table>
	  		<div id="layout_footer">
		  		<table>
		  			<tbody>
		  				<tr>
							<table width="100%" bgcolor="#3498db" cellpadding="0">
								<tbody>
									<tr><td></td></tr>
								</tbody>
							</table>
			  			</tr>
			  			<tr height="10px"><td></td></tr>
		  				<tr>
			  				<td>
			  					<div align="center">
			  						<a href=<%= static_pages_about_path %> class="visited">About</a>
			  						|
			  						<a href=<%= static_pages_inquire_path %> class="visited">Inquire</a>
			  						|
			  						<a href=<%= static_pages_request_feature_path %> class="visited">Request Feature</a>
			  						|
			  						<a href=<%= static_pages_report_bug_path %> class="visited">Report Bug</a>
			  					</div>
			  				</td>
		  				</tr>
		  			</tbody>
		  		</table>
	  		</div>
	  	</div>
	</body>
</html>
